ago==0.0.95
annotated-types==0.5.0
APScheduler==3.10.1
asttokens==2.2.1
attrs==23.1.0
Automat==22.10.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.6.2
blis==0.7.10
boto3==1.28.21
botocore==1.31.21
bs4==0.0.1
catalogue==2.0.9
cchardet==2.1.7
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.6
cmake==3.27.1
comm==0.1.4
confection==0.1.1
constantly==15.1.0
contourpy==1.1.0
coreferee-model-en @ https://github.com/richardpaulhudson/coreferee/raw/master/models/coreferee_model_en.zip#sha256=aec5662b4af38fbf4b8c67e4aada8b828c51d4a224b5e08f7b2b176c02d8780f
cryptography==41.0.3
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
dateparser==1.1.8
debugpy==1.6.7.post1
decorator==5.1.1
dnspython==2.4.1
dotmap==1.3.30
editdistance==0.6.2
elastic-transport==8.4.0
elasticsearch==8.9.0
email-validator==2.0.0.post2
emoji==2.7.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.1/en_core_web_lg-3.4.1-py3-none-any.whl#sha256=7b1681d44181b1ae6517044c9beed90cb71faaa0d7dc92bf18fbe590847051d5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl#sha256=83872781dc64893d45d9dbe940e05f80df7e7196e169ea29e2e9742fed079549
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.4.1/en_core_web_trf-3.4.1-py3-none-any.whl#sha256=35c8490d34e9cebe129ee1c9143977aaf02d4bd6d224f30a79baf3838627339b
en-coreference-web-trf @ https://github.com/explosion/spacy-experimental/releases/download/v0.6.1/en_coreference_web_trf-3.4.0a2-py3-none-any.whl#sha256=9507f2894d60ac3ca89f2ac925dc2222b63f3e8e5998400581b954cfef859654
executing==1.2.0
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.12.2
Flask==2.3.2
Flask-APScheduler==1.12.4
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
fonttools==4.42.1
fsspec==2023.6.0
geographiclib==2.0
geopy==2.3.0
greenlet==2.0.2
hjson==3.1.0
huggingface-hub==0.16.4
hurry.filesize==0.9
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
ipykernel==6.25.1
ipython==8.14.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jedi==0.19.0
jieba3k==0.35.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.1
jupyter_client==8.3.0
jupyter_core==5.3.1
kiwisolver==1.4.5
langcodes==3.3.0
langdetect==1.0.9
lit==16.0.6
loguru==0.7.0
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mpmath==1.3.0
murmurhash==1.0.9
nest-asyncio==1.5.7
networkx==3.1
news-please==1.5.33
newspaper3k==0.2.8
nltk==3.8.1
numpy==1.25.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
packaging==23.1
pandas==2.0.3
parsedatetime==2.6
parsel==1.8.1
parso==0.8.3
pathy==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
plac==1.3.5
platformdirs==3.10.0
plotly==5.15.0
preshed==3.0.8
prompt-toolkit==3.0.39
Protego==0.2.1
protobuf==4.24.0
psutil==5.9.5
psycopg2-binary==2.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycorenlp==0.3.0
pycparser==2.21
pydantic==1.10.12
pydantic_core==2.4.0
PyDispatcher==2.0.7
Pygments==2.16.1
PyMySQL==1.1.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.0
queuelib==1.6.2
readability-lxml==0.8.1
regex==2023.6.3
requests==2.31.0
requests-file==1.5.1
s3transfer==0.6.1
scikit-learn==1.3.0
scipy==1.11.2
Scrapy==2.10.0
seaborn==0.12.2
service-identity==23.1.0
sgmllib3k==1.0.0
six==1.16.0
smart-open==6.3.0
soupsieve==2.4.1
spacy==3.4.4
spacy-alignments==0.9.0
spacy-dbpedia-spotlight==0.2.6
spacy-experimental==0.6.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-transformers==1.1.9
spacyfishing==0.1.8
spacytextblob==4.0.0
SQLAlchemy==2.0.19
SQLAlchemy-Utils==0.41.1
srsly==2.4.7
stack-data==0.6.2
stanza==1.5.0
sympy==1.12
tenacity==8.2.2
textblob==0.15.3
thinc==8.1.11
threadpoolctl==3.2.0
tinysegmenter==0.3
tldextract==3.4.4
tokenizers==0.13.3
torch==2.0.1
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.25.1
triton==2.0.0
Twisted==22.10.0
typer==0.7.0
typing==3.7.4.3
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
Unidecode==1.3.6
urllib3==1.26.16
validators==0.20.0
w3lib==2.1.2
warcio==1.7.4
wasabi==0.10.1
wcwidth==0.2.6
Werkzeug==2.3.6
WTForms==3.0.1
xmltodict==0.13.0
zope.interface==6.0
